/* HeroesComponent's private CSS styles */
.heroes {
    margin: 0 0 0 0;
    list-style-type: none;
    padding: 0;
    width: 15em;
  }
  .heroes li {
    cursor: pointer;
    position: relative;
    left: 0;
  }
  .heroes li:hover {
    
  }
  .heroes li.selected {
    background-color: black;
    color: white;
  }
  .heroes li.selected:hover {
    background-color: #505050;
    color: white;
  }
  .heroes li.selected:active {
    background-color: black;
    color: white;
  }
  .heroes .badge {
    display: inline-block;
    font-size: small;
    color: white;
    padding: 10px 10px 10px 10px;
    background-color:#405061;
    line-height: 1em;
    position: relative;
    border-radius: 50%;
    margin-right: 10px;
  }
  
  input {
    padding: .5rem;
  }

ul {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

li {
    list-style-type: none;
    border: 1px solid #cccccc;
    border-radius: 10px;
    padding: 20px 20px 20px 20px;
    margin: 0px 0px 10px 0px;
    max-width: 300px;
    box-shadow: 2px 2px 4px #eeeeee;
    font-size: 15px;
    font-weight: 400;
    text-transform: uppercase;
    cursor: default;
    color: #333333;
    background-color: #ffffff;
}

li:hover {
    box-shadow: 2px 2px 4px #ffffff;
    color: #ffffff;
    background-color: #666666;
}